body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}
.todo-container {
    max-width: 500px;
    margin: 0 auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.todo-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.todo-form input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.todo-form button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-form button:hover {
    background-color: red;
    opacity: 0.9;
}

.todo-list {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.todo-item:hover {
    background-color: #f1f1f1;
}

.todo-text {
    display: flex;
    flex-direction: column;
}

.todo-date {
    font-size: 12px;
    color: #888;
}

.todo-buttons button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.todo-buttons button:hover {
    background-color: #c82333;
}

.sort-block{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.sort-button {
    display: block;
    white-space: nowrap;
    margin: 0;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-button.disabled{
    cursor: default;
    pointer-events: none;
    background: #ccc;
}

.sort-button:hover {
    background-color: #0056b3;
}

.task{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgba(204, 204, 204, 0.41);
    border-radius: 4px;
    padding: 0 10px;
}

.task.completed{
    background: #f1c71d;
}

.d-none{
    display: none !important;
}

.task.completed p{
    color: #fff;
}

.task p{
    display: block;
    flex-grow: 1;
    margin: 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.delete{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url(../images/delete.svg);
    background-size: cover;
    margin: 0 10px;
}